.loader {
    width: 100%;
    height: 8px;
    display: inline-block;
    position: absolute;
    background: #363636;
    overflow: hidden;
    top: 0px; 
    left: 0px;
}
.loader::after {
    content: '';
    width: 192px;
    height: 8px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}
  
@keyframes animloader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
    100% {
      left: 100%;
      transform: translateX(0%);
    }
}
      