@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,*:before,*:after{box-sizing:border-box}

body{
  min-height:100vh;
  font-family: 'Raleway', sans-serif;
}

.container{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  background: #4a4744;
  
  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 400px;
        transform-origin: -400px 50%;
        transition-delay:0s;
      }
    }
    
    .center{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index:10;
    opacity:0.65;
    transition-delay:0.2s;
  }
}

.top{
  &:before{transform:rotate(45deg);background:#393735;}
  &:after{transform:rotate(135deg);background:#0bba89;}
}

.bottom{
  &:before{transform:rotate(-45deg);background:#393735;}
  &:after{transform:rotate(-135deg);background:#0bba89;}
}

.columns{
    display:flex;
    flex-direction: column;
    padding-right: 40px;
    padding-top: 30px;
}

img{
    padding-bottom: 30px;
}

h2{
    width: 120%;
    text-align: center;
    color: white;
}

.center{
  position:absolute;
  width:500px;
  height:500px;
  top:50%;left:50%;
  margin-left:-250px;
  margin-top:-250px;
  display:flex;
  //flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5px;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  //color:#333;
  //background-color: aqua;
  
  input{
    /*width:100%;
    padding:15px;
    margin:5px;
    border-radius:10px;
    border:1px solid #ccc;
    font-family:inherit;*/

    width: 120%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
  }

  input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
  }

  input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
  }

  input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
  }

  input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
  }

.centrar{
    width: 120%;
    text-align: center;
  }
}