.TopBar {
    display: flex;
    background-image: linear-gradient(to right, #3e3e3e, #52dab3);
    //background-color: #3e3e3e;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    height: 25px;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: green !important;

  }

/*@media screen and (max-width: 992px) {
    .TopBar {
        display: inline-block;
    }
  }*/

.ButtonA {
    display: flex;
    //background-color: #01edfe;
    flex-direction: row;
    height: 50px;
}

/*
.TopBar--button {
    display: flex;
    background-color: #02eae6;
    justify-content: flex-end;
}*/