.TableReportesEventos {
    display: flex;
    flex: 1;
    flex-direction: column;
    //width: 100%;
    //height: 0;
    //position: absolute;
    //flex: 1;
    //width: 0%;
    background-color:white
    //background-color: #424d5c;
    //background-image: linear-gradient(-45deg, #89d9e7, #52dab3,);
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

h1 {
    text-align: center;
    padding-top: 1%;
}

.TituloCell {
    color: black;
    text-align: center;
}

.CoordenadasCell {
    text-align: left;
}

.BoxCoordenadas{
    align-items: center;
}