.TableReportes {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color:white;
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }