.Menu {
    display: flex;
    //background-image: linear-gradient( #3e3e3e, #52dab3);
    //background: #ffffff !important;
    background-color: #38414f;
    font-size: 12px;
    //margin-top: 13px;
    flex-direction: column;
    align-items: center;
    width: 70px;
    box-shadow: 2px;
    //border-right:dashed #D5DBDB;

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        background: none;
        border: 0;
        color: #ffffff;
        cursor: pointer;
    }

    &-text {
        margin-top: 5px;
    }
}